# Python ka chilla with #baba_ammar
## How to use Jupyter Note Book 
## Basics of Python
### **01- My first program**

In [1]:
print("Hello Pythom i am here to learn you.")
print(2*4)
print("I started learning pyhton on 21-02-22")
print(2*4+15)
print("Python again learning start on 21-06-22")
print(2/3)

Hello Pythom i am here to learn you.
8
I started learning pyhton on 21-02-22
23
Python again learning start on 21-06-22
0.6666666666666666

### **02- Operators**

In [2]:
print(5+8)
print(9-3)
print(7*5)
print(9/5)
print(9//5)
print(9%5)
print(2**4)

print(6-8*9/4+4**4)

13
6
35
1.8
1
4
16
244.0

*PEMDAS rule used*

### **03- Strings**

In [3]:
print('Test for single quote')
print("test for double quote")
#print(''' test for triple quote ''')
print('''test for triple quote ''')

print("what's up")
print("   what's up   ?")

Test for single quote
test for double quote
test for triple quote
what's up
   what's up   ?

### **04- Comments in Python**
The shortcut key to comment is **ctrl+/**

In [4]:
print("how are you?") #press these to comment out ctrl+/
print("learning comments") #print a string 
print(2+7) #print operator function with numbers

how are you?
learning comments
9

### **05- Variables**

In [5]:
#variables: objects containing specific value
x = 5  #numeric or integer variable
print(x) 
y="i am learning python" #string variable
print(y)
x=x+24
print(x)


#types/class of variables
type(x)
print(type(x))

print(type(y))


# Rules to assign a variable
# 1- the variable should contain number, letters or underscore
# 2- do not start with number
# 3- spaces are not allowed
# 4- do not use keywords used in functions (eg break, mean etc)
# 5- short and descriptive
# 6- case sensitive (try to use lower case letters)



fruit_basket= 8
fruit_basket= "mangoes"
#del fruit_basket #to delete variable
print(fruit_basket)
print(type(fruit_basket))

5
i am learning python
29
<class 'int'>
<class 'str'>
mangoes
<class 'str'>

### **06- Input Variables**

In [6]:
#fruit_basket= "Mangoes"
#print(fruit_basket)



 # input function simple
#fruit_basket=input("what is your favorite fruit? ")
#print(fruit_basket)


# input function of second stage
#name= input("what is your name? ")
#greetings= "hello!"
#print(greetings, name)

# another way of stage 2 input function

#name= input("what is your name? ")
#print("Hello!", name)


# 3rd stage input function

name = input("what is your name? ")
age = input("how old are you? ")
greetings="Hello!"
print(greetings, name,", you are still young" )

what is your name? Adnan
how old are you? 32
Hello! Adnan , you are still young

### **07- Conditional Logics**

In [7]:
# logical operators are either "true or false" ,"yes or no", "0 or 1" 
# equal to              ==
# not equal to          !=
# less than             <
# greater than          >
# less or equal         <=
# greater or equal      >=
# is 4 equal to 4

print(4==4)
print(4!=4)
print(4>3)
print(4<3)
print(5>=7)
print(6<=3)

# application of logical operators


#haris_age=4
#age_at_school=6
#print(haris_age==age_at_school)


# haris_age=4
# age_at_school=6
# print(haris_age<=age_at_school)


# haris_age=4
# age_at_school=6
# print(haris_age>=age_at_school)

# input function and ligical operators
age_at_school=6
hammad_age=input("how old is Hammad? ") #input function 
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_school) # logical operator

True
False
True
False
False
False
how old is Hammad? 2
<class 'int'>
False

### **08- Type Conversion**

In [8]:
# x = 10              #integer
# y = 10.5            #flaot
# z = "Hello"         #string


# # implicit type conversion
# x = x+y

# print(x, "class of x: ", type(x))

# explicit type conversion

age=input("what is your age? ")
age=int(age)
print(age, type(float(age)))

#name
name=input("what is your name? ")
print(name, type(str(name)))

what is your age? 32
32 <class 'float'>
what is your name? Adnan
Adnan <class 'str'>

### **09- If, Else, Elif**

In [9]:
required_age_at_school =5 
haris_age = 5

# Question: can haris go to school?

if haris_age==required_age_at_school:
    print("Congratulations! Haris can join the school.")
elif haris_age > required_age_at_school:
    print("Haris should join higher secondary school.") # can use multiple elif statements
elif haris_age<= 3:
    print("You should take care of Haris he is still baby.")
else:
    print("Haris can not go to school.")

Congratulations! Haris can join the school.

### **10- Functions**

In [10]:
# print("I am learning Python with Ammar")
# print("I am learning Python with Ammar")
# print("I am learning Python with Ammar")
# print("I am learning Python with Ammar")
# print("I am learning Python with Ammar")

# defining a function

# Method No. 1


# def print_adnan():
#     print("I am learning Python with Ammar")
#     print("I am learning Python with Ammar")
#     print("I am learning Python with Ammar")
#     print("I am learning Python with Ammar")
# print_adnan()

# Method No. 2



# def print_adnan():
#     text = "I am learning Python with Ammar on codanics youtube channel"
#     print(text)
#     print(text)
#     print(text)
#     print(text)

# print_adnan()

# another way to define a function ......print word is not necessary for defining a function
# def adnan():
#     text= "i am learning python"
#     print(text)
#     print(text)
# adnan()



# Method No. 3



# def print_adnan(text):
#     print(text)
#     print(text)
#     print(text)
# print_adnan("i am learning python with bab ammar on his youtube channel.")


# Method No. 3 defining a function using if, elif and else statment



# def school_calculator(age, text):
#     if age== 5:
#         print("Haris can join the school.")
#     elif age> 5:
#         print("Haris should go to high school.")
#     else:
#         print("Haris is still a baby.")
# school_calculator(8, "Haris") 

# Or above formula can also be written as


def school_calculator(age):
    if age== 5:
        print("Haris can join the school.")
    elif age> 5:
        print("Haris should go to high school.")
    else:
        print("Haris is still a baby.")
school_calculator(3)



# defining a function of future


# def future_age(age):
#     new_age=age+20
#     return new_age
#     print(new_age)
# future_predicted_age=future_age(26)
# print(future_predicted_age)

Haris is still a baby.

### **11- Loops**

In [11]:
# two types of loops: while loop and for loop

# while Loop

#x=0
#while (x<4):
 #    print(x)
  #  x=x+1


# for loop

for x in range(4,9):
    print(x)


#  Array
# days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]
# for day in days:
#     print(day)


months = ["January", "february", "march", "april", "may", "june", "july", "august", "september", "october", "november", "december"]
for month in months:
    # if (month=="june"): break            # break used to stop the loop
    if (month=="july"): continue           # continue used to skip entity(july)
    print(month)

4
5
6
7
8
January
february
march
april
may
june
august
september
october
november
december

### **12- Import Library**

In [12]:
# some already built in functions saved in library
# eg if you want to print the value of pi then see below


import math
print("the value of pi is ",math.pi)


import statistics
x=[100,150,200,250,300,350,400]
print(statistics.mean(x))


#some important libraries are numpy, pandas, maths, statistics

the value of pi is  3.141592653589793
250

### **13- TroubleShooting**

In [13]:
# print(i am learning python with ammar) # syntax error

# print(25/0) # runtime error

name= "Adnan"
print("hello", name)   # semantic error/human error
print("hello"+name)    # use + sign to remove space b/w hello and adnan

hello Adnan
helloAdnan