# Indexing
**Idexing means number of words+including space under string, for example "samosa and pakora" have 15 words and two spaces so total index are 17 and it starts from zero**

In [1]:
a = "Samosa and Pakora"
a

'Samosa and Pakora'

In [2]:
a

'Samosa and Pakora'

In [3]:
a[0]

'S'

In [4]:
a[1]

'a'

In [5]:
#Length of indeces
len (a)

17

In [6]:
a[16]

'a'

In [7]:
a[4]

's'

In [8]:
a[9]

'd'

In [9]:
a[0:5]

'Samos'

In [10]:
#last index or element is exclusive ie not included. samosa has 6 words and it start from 0 so 6th is not included
a[0:6]

'Samosa'

In [11]:
a[0:16]

'Samosa and Pakor'

In [12]:
a[0:17]

'Samosa and Pakora'

In [13]:
# if we use negative sign then it will start from last just like r is the second last word 
a[-2]

'r'

In [14]:
# "a" dont show in output so we use [-6 to total length of index]
a[-6:-1]

'Pakor'

In [15]:
a[-6:17]

'Pakora'

In [16]:
food = "biryani"
food

'biryani'

## String Methods

In [17]:
food

'biryani'

In [18]:
len(food)

7

In [19]:
#1st letter would capital or capitize every element
food.capitalize()

'Biryani'

In [20]:
#uppercase letter
food.upper()

'BIRYANI'

In [21]:
#lowercase letter
food.lower()

'biryani'

In [22]:
#replace
food.replace("b","Sh")

'Shiryani'

In [23]:
#counting a specific alphabet in a string
name = "baba_ammar with dr ammar tufail"
name

'baba_ammar with dr ammar tufail'

In [24]:
#in above strind a repeated 7 times
name.count("a")

7

In [25]:
name.count("ba")

2

### Finding an index number in string

In [26]:
name = "baba_ammar with dr ammar tufail"
name

'baba_ammar with dr ammar tufail'

In [27]:
name.find("w")

11

### How to split a string

In [28]:
food = "I love samosa, pakora, biryani, karahi, fish"
food

'I love samosa, pakora, biryani, karahi, fish'

In [29]:
food.split(",")

['I love samosa', ' pakora', ' biryani', ' karahi', ' fish']

In [30]:
food.split("o")

['I l', 've sam', 'sa, pak', 'ra, biryani, karahi, fish']

In [31]:
food.split("k")

['I love samosa, pa', 'ora, biryani, ', 'arahi, fish']

# Basic data Stucture in Python
### 1- Tuple
### 2- List
### 3- Dictionaries
### 4- Set

## 1- Tuples
- orderd collection of elements
- enclosed in () round braces
- different types of elements(integer, float, string, boolean) can be stored
- once elements are stored you can not change them (unmutatable)

In [32]:
tup1 = (1, 2.1, "python", True)
tup1

(1, 2.1, 'python', True)

In [33]:
#type of tuple
type(tup1)

tuple

### - Indexing in Tuple

In [34]:
tup1[2]

'python'

In [35]:
tup1[3]

True

In [36]:
tup1[0:4]

(1, 2.1, 'python', True)

In [37]:
#last element is exclusive
tup1[0:3]

(1, 2.1, 'python')

In [38]:
#count of elements in tuple
len(tup1)

4

In [39]:
tup2 = (3, 5.2, "adnan", False)
tup2

(3, 5.2, 'adnan', False)

In [40]:
# concatinate(to add two tuples or more than 2)
tup1 + tup2

(1, 2.1, 'python', True, 3, 5.2, 'adnan', False)

In [41]:
# tup1 will repeat 2 times then add to tup2
# concatinate + repeat
tup1*2 + tup2

(1, 2.1, 'python', True, 1, 2.1, 'python', True, 3, 5.2, 'adnan', False)

In [42]:
tup1*3 +tup2

(1,
 2.1,
 'python',
 True,
 1,
 2.1,
 'python',
 True,
 1,
 2.1,
 'python',
 True,
 3,
 5.2,
 'adnan',
 False)

In [43]:
tup3 = (20,30,50,60,80)
tup3

(20, 30, 50, 60, 80)

In [44]:
# minimum value in the tuple
min(tup3)

20

In [45]:
# maximum value in the tuple
max(tup3)

80

In [46]:
tup3*2

(20, 30, 50, 60, 80, 20, 30, 50, 60, 80)

In [47]:
# use three dashes(---) in markdown to convert it into a straight line ie

---

## 2- List
- ordered collection of elements
- enclosed in [] square braces
- mutateable, you can change the value

In [48]:
list1=[1, "python", True]
list1

[1, 'python', True]

In [49]:
type(list1)

list

In [50]:
len(list1)

3

In [51]:
list1[2]

True

In [52]:
list2 = [3, 5, "ammar", 478, 56.4, False]
list2

[3, 5, 'ammar', 478, 56.4, False]

In [53]:
list1 + list2

[1, 'python', True, 3, 5, 'ammar', 478, 56.4, False]

In [54]:
list1*2

[1, 'python', True, 1, 'python', True]

In [55]:
list1

[1, 'python', True]

In [56]:
list1.reverse()
list1

[True, 'python', 1]

In [57]:
# append kisi chez ko sath jorna, ie if we include "codanics youtube channel" then run one time it means it wwell add one time
# if we run 3 times then it will add 3 times
list1.append("Codanics youtube channel")
list1

[True, 'python', 1, 'Codanics youtube channel']

In [58]:
# it will clear all elements in list
list1.clear()

In [59]:
list1

[]

In [60]:
#copy the list
list2.copy()

[3, 5, 'ammar', 478, 56.4, False]

In [61]:
fruits = ["apple",  "banana", 'mangoe', "orange"]
fruits

['apple', 'banana', 'mangoe', 'orange']

In [62]:
cars = ["BMW", "Audi", "honda"]
cars

['BMW', 'Audi', 'honda']

In [63]:
# extend list
fruits.extend(cars)
fruits

['apple', 'banana', 'mangoe', 'orange', 'BMW', 'Audi', 'honda']

In [64]:
cars.extend(fruits)
cars

['BMW',
 'Audi',
 'honda',
 'apple',
 'banana',
 'mangoe',
 'orange',
 'BMW',
 'Audi',
 'honda']

In [68]:
fruits

['apple', 'banana', 'mangoe', 'orange', 'BMW', 'Audi', 'honda']

In [69]:
cars

['BMW',
 'Audi',
 'honda',
 'apple',
 'banana',
 'mangoe',
 'orange',
 'BMW',
 'Audi',
 'honda']

In [70]:
num1 = [1, 2, 3]
num1

[1, 2, 3]

In [71]:
num2 = [4, 5, 6]
num2

[4, 5, 6]

In [72]:
num1.extend(num2)
num1

[1, 2, 3, 4, 5, 6]

In [73]:
num2.extend(num1)
num2

[4, 5, 6, 1, 2, 3, 4, 5, 6]

In [74]:
#list.count that was assignment, it is used to Return the number of times the value "apple" appears in the fruits list:ie
fruits

['apple', 'banana', 'mangoe', 'orange', 'BMW', 'Audi', 'honda']

In [75]:
fruits.count("apple")

1

In [76]:
# index: What is the position of the value "orange":
fruits

['apple', 'banana', 'mangoe', 'orange', 'BMW', 'Audi', 'honda']

In [77]:
fruits.index("orange")

3

In [83]:
# insert: Insert the value "peach" as the third element of the fruit list:
num1

[1, 2, 3, 4, 5, 6]

In [84]:
num1.insert(2, "peach")
num1

[1, 2, 'peach', 3, 4, 5, 6]

In [88]:
# pop: Remove the element at the specified position:
# Remove the second element of the num1 list:
num1

[1, 3, 4, 5, 6]

In [89]:
num1.pop(1)
num1

[1, 4, 5, 6]

In [90]:
fruits

['apple',
 'PEACH',
 'peach',
 'banana',
 'PEACH',
 'PEACH',
 'mangoe',
 'orange',
 'BMW',
 'Audi',
 'honda']

In [97]:
fruits.pop(2)
fruits

['apple', 'peach', 'mangoe', 'BMW', 'Audi', 'honda']

In [101]:
# remove: Removes the first item with the specified value
#Remove the "peach" element of the fruit list:
fruits

['peach', 'mangoe', 'BMW', 'Audi', 'honda']

In [102]:
fruits.remove("peach")
fruits

['mangoe', 'BMW', 'Audi', 'honda']

In [119]:
#sort: Sort the list alphabetically:
cars = ["BMW", "Audi", "Honda", "Ford", "Toyota"]
cars

['BMW', 'Audi', 'Honda', 'Ford', 'Toyota']

In [120]:
cars.sort()
cars

['Audi', 'BMW', 'Ford', 'Honda', 'Toyota']

In [121]:
num2 = [12, 34, 2, 4, 75, 42, 23, 21]
num2

[12, 34, 2, 4, 75, 42, 23, 21]

In [123]:
num2.sort()
num2

[2, 4, 12, 21, 23, 34, 42, 75]

In [126]:
num1

[1, 4, 5, 6]

In [127]:
num2

[2, 4, 12, 21, 23, 34, 42, 75]

In [129]:
cars

['Audi', 'BMW', 'Ford', 'Honda', 'Toyota']

In [130]:
fruits

['mangoe', 'BMW', 'Audi', 'honda']

In [131]:
cars + num1

['Audi', 'BMW', 'Ford', 'Honda', 'Toyota', 1, 4, 5, 6]

In [124]:
num2 * 2

[2, 4, 12, 21, 23, 34, 42, 75, 2, 4, 12, 21, 23, 34, 42, 75]

In [125]:
num1 + num2

[1, 4, 5, 6, 2, 4, 12, 21, 23, 34, 42, 75]

In [134]:
lists = num1 + fruits + cars
lists

[1,
 4,
 5,
 6,
 'mangoe',
 'BMW',
 'Audi',
 'honda',
 'Audi',
 'BMW',
 'Ford',
 'Honda',
 'Toyota']

## 3- Dictionaries
- an unordered collection of elements
- there will be two things key and value
- use {} curly braces
- mutateable/ you can change the value

In [135]:
# food and their value: here samosa is the key and 30 is the value of key
food1 = {"samosa":30, "pakora":100, "raita":20, "salad":30, "chicken rolls":50}
food1

{'samosa': 30, 'pakora': 100, 'raita': 20, 'salad': 30, 'chicken rolls': 50}

In [136]:
type(food1)

dict

In [141]:
# extract data
keys1 = food1.keys()
keys1

dict_keys(['samosa', 'pakora', 'raita', 'salad', 'chicken rolls'])

In [142]:
values1 = food1.values()
values1

dict_values([30, 100, 20, 30, 50])

In [143]:
# update: adding a new element in the dictionary 
food1["tikki"]=10
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 50,
 'tikki': 10}

In [148]:
food1.update({"naan":30})
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 50,
 'tikki': 10,
 'naan': 30}

In [149]:
# update the already given value
food1.update({"tikki":15})
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 50,
 'tikki': 15,
 'naan': 30}

In [151]:
    food2 = {"dates":50, "chocolates":100, "swayyan":1000}
food2

{'dates': 50, 'chocolates': 100, 'swayyan': 1000}

In [152]:
# concatinate: use update command
food1.update(food2)
food1

{'samosa': 30,
 'pakora': 100,
 'raita': 20,
 'salad': 30,
 'chicken rolls': 50,
 'tikki': 15,
 'naan': 30,
 'dates': 50,
 'chocolates': 100,
 'swayyan': 1000}

## 4- Sets
- unorderd and unidexed
- curly braces {} are used
- no duplicate allowed

In [153]:
# boolean operator cannot be add in sets
s1 = {1, 2.4, 5.7, "adnan", "sahiwal", True}
s1

{1, 2.4, 5.7, 'adnan', 'sahiwal'}

In [155]:
s1.update("jupyter")
s1

{1, 2.4, 5.7, 'adnan', 'e', 'j', 'p', 'r', 'sahiwal', 't', 'u', 'y'}

In [156]:
s1.add("jupyter")
s1

{1, 2.4, 5.7, 'adnan', 'e', 'j', 'jupyter', 'p', 'r', 'sahiwal', 't', 'u', 'y'}

In [157]:
s1.remove("jupyter")
s1

{1, 2.4, 5.7, 'adnan', 'e', 'j', 'p', 'r', 'sahiwal', 't', 'u', 'y'}

In [158]:
# intersection of sets s2 and s3
s2 = {2, 3.2, "haris", "python"}
s2

{2, 3.2, 'haris', 'python'}

In [159]:
s3 = {2, "haris", 4.8, "lahore"}
s3

{2, 4.8, 'haris', 'lahore'}

In [161]:
s4 = s2.intersection(s3)
s4

{2, 'haris'}

In [162]:
# difference
s5 = s2.difference(s3)
s5

{3.2, 'python'}

In [163]:
s6 = s3.difference(s2)
s6

{4.8, 'lahore'}

In [164]:
s7 = s2.isdisjoint(s3)
s7

False

In [165]:
# copy set
s8 = s2.copy()
s8

{2, 3.2, 'haris', 'python'}

In [168]:
# The difference_update() method removes the items that exist in both sets.
# The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.
s2.difference_update(s3)

In [169]:
s2

{3.2, 'python'}

In [170]:
# discard: The discard() method removes the specified item from the set.
s3

{2, 4.8, 'haris', 'lahore'}

In [172]:
s3.discard("lahore")
s3

{2, 4.8, 'haris'}

In [173]:
# issubset:
s3.issubset(s2)

False

In [174]:
#issuper set
s3.issuperset(s2)

False

In [175]:
# pop: Remove a random item from the set
s3

{2, 4.8, 'haris'}

In [176]:
s3.pop()

'haris'